@import "tailwindcss";

.employee-card {
  cursor: pointer;
}

.employee-card:hover { 
  background-color:darkgrey;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.theme-gray {
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #292525;
  min-width: 320px;
  min-height: 100vh;
}

.theme-gray button {
  background-color: #1a1a1a;
}

.theme-gray button:hover {
  background-color: darkgrey;
}

.theme-white {
  margin: 0;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.87);
  min-width: 320px;
  min-height: 100vh;
}

.theme-white button {
  background-color: #c7a9a9;
}

.theme-white button:hover {
  background-color: rgb(39, 32, 32);
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
}



button:hover {
  background-color: darkgrey;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
